<template>
  <view>
    <scroll-view 
      v-show="isShow" 
      class='dl'
      scroll-y="true"
      lower-threshold=50
      @scrolltolower="getAllFoods"
      >
      <view
        class="historyList"
        v-for="(item,index) in list"
        :key="index"
      >
        <view
          class="mealimg"
          @click="showhistorymenu(index)"
        >
          <image
            style="width: 100rpx;height: 100rpx;"
            :src="item.picture"
            mode="aspectFill"
          /></image>
        </view>
        <view
          class="historyInfo"
          @click="showhistorymenu(index)"
        >
          <text style="font-size: 40rpx;font-weight:250;color:#000000;line-height: 40rpx;">{{ item.name }}</text>
          <view style="display: flex; flex-direction: row;justify-content: space-between;">
            <text style="font-size: 25rpx;font-weight: 100;color:#505050;line-height: 40rpx;">{{ item.calorie }}kcal</text>
            <text style="font-size: 25rpx;font-weight: 100;color:#505050;line-height: 40rpx;">{{ item.date }}</text>

          </view>
        </view>
        <image
          :src="backendUrl + '/media/static/timg.jpg'"
          class="deleteIcon"
          @click="deleteItem(item.id,index)"
          v-if="isdelete"
        />
      </view>
    </scroll-view>
    <view
      v-show="!isShow"
      style="font-size: 30rpx;font-weight: 100;color:#505050;text-align: center;margin-top: 20px;"
    >你还没有历史用餐记录哦~</view>
  </view>
</template>

<script>
import {
  backendUrl,
} from '@/common/helper.js';
export default {
  data() {
    return {
      list: [],
      backendUrl,
      replacelist: {
        picture: backendUrl+ '/media/static/default.jpg',
        calorie: '这里会记录你每餐的就餐卡路里数据,例如100',
        date: '这里会记录你的就餐时间',
        id: -1,
      },
      isdelete: true,
      date: '',
      isShow: false,
      offset:0,
      limit:10,
    };
  },
  methods: {
    showhistorymenu: function(index) {
      if (this.list[index].id == -1) return;
      uni.request({
        url: backendUrl + '/menu/detail/',
        method: 'GET',
        header: {
          Authorization: 'Token ' + uni.getStorageSync('token'),
        },
        data: {
          menu_id: this.list[index].id,
        },
        success: (res) => {
          var tempdate = new Date(new Date(this.list[index].date).getTime(this.list[index].date) + 8 * 3600 * 1000);
          this.date = tempdate.toISOString().substr(0, 19);
          this.date = this.date.replace('T', ' ');
          var data = {
            detail: res.data.data.dishes,
            date: this.date,
          };
          uni.setStorage({
            key: 'historymsg',
            data: data,
          });
          uni.navigateTo({
            url: '../../pages/others/mylist',
          });
        },
      });
    },

    deleteItem: function(id, index) {
      uni.request({
        url: backendUrl + '/menu/delete/',
        method: 'POST',
        header: {
          Authorization: 'Token ' + uni.getStorageSync('token'),
        },
        data: {
          menu_id: id,
        },
      });
      this.list.splice(index, 1);
      uni.showToast({
        title: '删除成功',
        duration: 2000,
      });
      if (this.list.length == 0) {
        this.isShow = false;
      }
    },
  },

  created: function() {
    uni.request({
      url: backendUrl + '/menu/query/',
      method: 'GET',
      header: {
        Authorization: 'Token ' + uni.getStorageSync('token'),
      },
      data:{
        offset:this.offset,
        limit:this.limit,
      },
      success: (res) => {
        this.list = res.data.data.user_menus;
        if (this.list.length == 0) {
          this.isShow = false;
          this.isdelete = false;
        } else {
          this.isShow = true;
          for (let i = 0; i < this.list.length; i++) {
            this.list[i].picture = backendUrl + '/media/' + this.list[i].picture;
            var str = this.list[i].date.substr(0, 19);
            str = str.replace('T', ' ');
            this.date = str;
            this.list[i].date = str;
          }
        }
      },
      fail: (res) => {
      },
    });
  },

};
</script>

<style>
  .content {
    display: flex;
    align-items: center;
  }

  .mealimg {
    width: 100rpx;
    height: 100rpx;
  }

  .historyList {
    display: flex;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    border: #d5c2c6 solid 1rpx;
  }

  .dl {
    margin-top: 10px;
    height: 60%;
  }

  .historyInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 550rpx;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    /* margin-left: 30rpx; */
  }

  .deleteIcon {
    width: 40rpx;
    height: 40rpx;
    position: relative;
    top: 25rpx;
    opacity: 0.4
  }
</style>
